<!DOCTYPE html>
<html>

<head>

    <title>PhishGuard — Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="auth-page">

<div class="auth-card">

    <div class="auth-logo">
        PG
    </div>

    <p class="mini-label">
        PHISHGUARD SECURITY
    </p>

    <h1>
        Welcome back.
    </h1>

    <p class="auth-subtitle">
        Sign in to access your security dashboard.
    </p>


    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
        >


        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
        >


        <button class="primary-button">

            Sign In

            <span>→</span>

        </button>

    </form>


    <p class="switch-auth">

        Don't have an account?

        <a href="/register">
            Create account
        </a>

    </p>

</div>

</body>

</html>